*{
  margin:0;
  padding:0;
}
.parent{
  height: 100vh;;
  width: 100%;
  background-color: #111;
  padding: 20px;
}

.card{
  width:400px;
  height:400px;
  background-color: #fff;
  border-radius: 30px;
}